body{
	text-align: center;
	/*background-color: #42424e;*/
	background: url("../media/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Verdana, Arial, sans-serif;
}

a:link, a:visited{
	color: black;
}

#main{
	margin: 50px auto;
	text-align: left;
	border: 2px solid rgb(0, 0, 0);
	width: 750px;
	background-color: white; 
} 

#img-strip{
	border: 0 solid;
	height: 150px;
	text-align: center;
	/*padding: 5px;*/
}



.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  }
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}
.tab #close {
	padding: 6px 10px;

}
.tab button:hover {
	background-color: #ddd;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

table{
	border: 3px solid black;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}
th,td{
	border: 1px solid black;
	padding: 5px;
}
th{
	padding-left:auto;
	padding-right:auto;
}

/*
#menubar{

}

#content{

}
*/