<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/new_template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.AllgoldTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h1>Gesamtbestände aller Produkte</h1>
            <br/>
            <h:panelGrid columns="2">
                <h:dataTable value="#{produktController.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Produktbezeichnung"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Gesamtmenge"/>
                        </f:facet>
                        <h:outputText value="#{lagerbestandController.getSelectedProduktAmount(item)}"/>
                    </h:column>
                </h:dataTable>
            </h:panelGrid>
            <br/>
        </ui:define>
    </ui:composition>

</html>