<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/new_template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.AllgoldTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLagerbestandEmpty}" rendered="#{lagerbestandController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lagerbestandController.items.rowCount > 0}">
                    <h:outputText value="#{lagerbestandController.pagination.pageFirstItem + 1}..#{lagerbestandController.pagination.pageLastItem + 1}/#{lagerbestandController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lagerbestandController.previous}" value="#{bundle.Previous} #{lagerbestandController.pagination.pageSize}" rendered="#{lagerbestandController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lagerbestandController.next}" value="#{bundle.Next} #{lagerbestandController.pagination.pageSize}" rendered="#{lagerbestandController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lagerbestandController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLagerbestandTitle_inventarnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.inventarnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLagerbestandTitle_anzahl}"/>
                            </f:facet>
                            <h:outputText value="#{item.anzahl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLagerbestandTitle_artikel_bezeichnung}"/>
                            </f:facet>
                            <h:dataTable value="#{item.getArtikelnr()}" var="produkt">
                                <h:column>
                                    <h:outputText value="#{produkt.name}"/>
                                </h:column>
                            </h:dataTable>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLagerbestandTitle_vkort_ort}"/>
                            </f:facet>
                            <h:dataTable value="#{item.getVkortnr()}" var="verkaufsort">
                                <h:column>
                                    <h:outputText value="#{verkaufsort.adresse}"/>
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{verkaufsort.typ}"/>
                                </h:column>
                            </h:dataTable>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lagerbestandController.prepareLagerbestandByVerkaufsort}" value="#{bundle.ListLagerbestandByVerkaufsortViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lagerbestandController.prepareLagerbestandByProdukt}" value="#{bundle.ListLagerbestandByProduktLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lagerbestandController.prepareLagerbestandByOneProduktAmount}" value="#{bundle.ListLagerbestandGesamtlagerbestandByProduct}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lagerbestandController.prepareLagerbestandByAllProduktAmount}" value="Gesamtlagerbestand aller Produkte"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLagerbestandIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
