<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
<ui:composition>
    <h:link outcome="cockpit" value="Home"/>
    &#160;
    <h:link outcome="Lagerbestand" value="Lagerbestand"/>
    &#160;
    <h:link outcome="phase4" value="Reporting"/>
    &#160;
</ui:composition>

</html>