<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/new_template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.AllgoldTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h1>Reporting Geschäftsleitung</h1>
            
            <h:form>
                <h:commandButton value="reload" type="reload" action="#{chartView.init()}"/>
                <p:growl id="growl" showDetail="true"/>
                <h:panelGrid columns="1" columnClasses="left,right" style="width:100%">
                    <p:chart type="pie" model="#{chartView.produktModel}" style="width: 1150px; height: 600px"/>
                    <p:chart type="pie" model="#{chartView.stellenModel}" style="width: 1150px; height: 600px"/>
                    <p:chart id="zeitModel" type="bar" model="#{chartView.zeitModel}" style="width: 1150px; height: 600px">
                        <p:ajax event="itemSelect" listener="#{chartView.itemSelect}" update="zeitModel"/>
                    </p:chart>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
