<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVerkaeuferTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVerkaeuferLabel_persnr}" for="persnr" />
                    <h:inputText id="persnr" value="#{verkaeuferController.selected.persnr}" title="#{bundle.EditVerkaeuferTitle_persnr}" required="true" requiredMessage="#{bundle.EditVerkaeuferRequiredMessage_persnr}"/>
                    <h:outputLabel value="#{bundle.EditVerkaeuferLabel_name}" for="name" />
                    <h:inputTextarea rows="4" cols="30" id="name" value="#{verkaeuferController.selected.name}" title="#{bundle.EditVerkaeuferTitle_name}" required="true" requiredMessage="#{bundle.EditVerkaeuferRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditVerkaeuferLabel_vorname}" for="vorname" />
                    <h:inputTextarea rows="4" cols="30" id="vorname" value="#{verkaeuferController.selected.vorname}" title="#{bundle.EditVerkaeuferTitle_vorname}" required="true" requiredMessage="#{bundle.EditVerkaeuferRequiredMessage_vorname}"/>
                    <h:outputLabel value="#{bundle.EditVerkaeuferLabel_geschlecht}" for="geschlecht" />
                    <h:inputText id="geschlecht" value="#{verkaeuferController.selected.geschlecht}" title="#{bundle.EditVerkaeuferTitle_geschlecht}" required="true" requiredMessage="#{bundle.EditVerkaeuferRequiredMessage_geschlecht}"/>
                </h:panelGrid>
                <h:commandLink action="#{verkaeuferController.update}" value="#{bundle.EditVerkaeuferSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVerkaeuferViewLink}"/>
                <br />
                <h:commandLink action="#{verkaeuferController.prepareList}" value="#{bundle.EditVerkaeuferShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVerkaeuferIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
