<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLieferungproduktTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLieferungproduktLabel_liefprodnr}" for="liefprodnr" />
                    <h:inputText id="liefprodnr" value="#{lieferungproduktController.selected.liefprodnr}" title="#{bundle.CreateLieferungproduktTitle_liefprodnr}" required="true" requiredMessage="#{bundle.CreateLieferungproduktRequiredMessage_liefprodnr}"/>
                    <h:outputLabel value="#{bundle.CreateLieferungproduktLabel_anzahl}" for="anzahl" />
                    <h:inputText id="anzahl" value="#{lieferungproduktController.selected.anzahl}" title="#{bundle.CreateLieferungproduktTitle_anzahl}" required="true" requiredMessage="#{bundle.CreateLieferungproduktRequiredMessage_anzahl}"/>
                    <h:outputLabel value="#{bundle.CreateLieferungproduktLabel_artikelnr}" for="artikelnr" />
                    <h:selectOneMenu id="artikelnr" value="#{lieferungproduktController.selected.artikelnr}" title="#{bundle.CreateLieferungproduktTitle_artikelnr}" required="true" requiredMessage="#{bundle.CreateLieferungproduktRequiredMessage_artikelnr}">
                        <f:selectItems value="#{produktController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateLieferungproduktLabel_liefernr}" for="liefernr" />
                    <h:selectOneMenu id="liefernr" value="#{lieferungproduktController.selected.liefernr}" title="#{bundle.CreateLieferungproduktTitle_liefernr}" required="true" requiredMessage="#{bundle.CreateLieferungproduktRequiredMessage_liefernr}">
                        <f:selectItems value="#{lieferungController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lieferungproduktController.create}" value="#{bundle.CreateLieferungproduktSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lieferungproduktController.prepareList}" value="#{bundle.CreateLieferungproduktShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLieferungproduktIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
