<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLieferungproduktTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLieferungproduktEmpty}" rendered="#{lieferungproduktController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lieferungproduktController.items.rowCount > 0}">
                    <h:outputText value="#{lieferungproduktController.pagination.pageFirstItem + 1}..#{lieferungproduktController.pagination.pageLastItem + 1}/#{lieferungproduktController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lieferungproduktController.previous}" value="#{bundle.Previous} #{lieferungproduktController.pagination.pageSize}" rendered="#{lieferungproduktController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lieferungproduktController.next}" value="#{bundle.Next} #{lieferungproduktController.pagination.pageSize}" rendered="#{lieferungproduktController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lieferungproduktController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieferungproduktTitle_liefprodnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.liefprodnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieferungproduktTitle_anzahl}"/>
                            </f:facet>
                            <h:outputText value="#{item.anzahl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieferungproduktTitle_artikelnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.artikelnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieferungproduktTitle_liefernr}"/>
                            </f:facet>
                            <h:outputText value="#{item.liefernr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lieferungproduktController.prepareView}" value="#{bundle.ListLieferungproduktViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lieferungproduktController.prepareEdit}" value="#{bundle.ListLieferungproduktEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lieferungproduktController.destroy}" value="#{bundle.ListLieferungproduktDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lieferungproduktController.prepareCreate}" value="#{bundle.ListLieferungproduktCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLieferungproduktIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
