<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLieferungproduktTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLieferungproduktLabel_liefprodnr}"/>
                    <h:outputText value="#{lieferungproduktController.selected.liefprodnr}" title="#{bundle.ViewLieferungproduktTitle_liefprodnr}"/>
                    <h:outputText value="#{bundle.ViewLieferungproduktLabel_anzahl}"/>
                    <h:outputText value="#{lieferungproduktController.selected.anzahl}" title="#{bundle.ViewLieferungproduktTitle_anzahl}"/>
                    <h:outputText value="#{bundle.ViewLieferungproduktLabel_artikelnr}"/>
                    <h:outputText value="#{lieferungproduktController.selected.artikelnr}" title="#{bundle.ViewLieferungproduktTitle_artikelnr}"/>
                    <h:outputText value="#{bundle.ViewLieferungproduktLabel_liefernr}"/>
                    <h:outputText value="#{lieferungproduktController.selected.liefernr}" title="#{bundle.ViewLieferungproduktTitle_liefernr}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lieferungproduktController.destroyAndView}" value="#{bundle.ViewLieferungproduktDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLieferungproduktEditLink}"/>
                <br />
                <h:commandLink action="#{lieferungproduktController.prepareCreate}" value="#{bundle.ViewLieferungproduktCreateLink}" />
                <br />
                <h:commandLink action="#{lieferungproduktController.prepareList}" value="#{bundle.ViewLieferungproduktShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLieferungproduktIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
