<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVerkaufTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVerkaufLabel_verkfnr}" for="verkfnr" />
                    <h:inputText id="verkfnr" value="#{verkaufController.selected.verkfnr}" title="#{bundle.CreateVerkaufTitle_verkfnr}" required="true" requiredMessage="#{bundle.CreateVerkaufRequiredMessage_verkfnr}"/>
                    <h:outputLabel value="#{bundle.CreateVerkaufLabel_datum}" for="datum" />
                    <h:inputText id="datum" value="#{verkaufController.selected.datum}" title="#{bundle.CreateVerkaufTitle_datum}" required="true" requiredMessage="#{bundle.CreateVerkaufRequiredMessage_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateVerkaufLabel_warenwert}" for="warenwert" />
                    <h:inputText id="warenwert" value="#{verkaufController.selected.warenwert}" title="#{bundle.CreateVerkaufTitle_warenwert}" required="true" requiredMessage="#{bundle.CreateVerkaufRequiredMessage_warenwert}"/>
                    <h:outputLabel value="#{bundle.CreateVerkaufLabel_verkaeufernr}" for="verkaeufernr" />
                    <h:selectOneMenu id="verkaeufernr" value="#{verkaufController.selected.verkaeufernr}" title="#{bundle.CreateVerkaufTitle_verkaeufernr}" >
                        <f:selectItems value="#{verkaeuferController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateVerkaufLabel_vkortnr}" for="vkortnr" />
                    <h:selectOneMenu id="vkortnr" value="#{verkaufController.selected.vkortnr}" title="#{bundle.CreateVerkaufTitle_vkortnr}" required="true" requiredMessage="#{bundle.CreateVerkaufRequiredMessage_vkortnr}">
                        <f:selectItems value="#{verkaufsortController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{verkaufController.create}" value="#{bundle.CreateVerkaufSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{verkaufController.prepareList}" value="#{bundle.CreateVerkaufShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVerkaufIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
