<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVerkaufTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVerkaufEmpty}" rendered="#{verkaufController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{verkaufController.items.rowCount > 0}">
                    <h:outputText value="#{verkaufController.pagination.pageFirstItem + 1}..#{verkaufController.pagination.pageLastItem + 1}/#{verkaufController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{verkaufController.previous}" value="#{bundle.Previous} #{verkaufController.pagination.pageSize}" rendered="#{verkaufController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{verkaufController.next}" value="#{bundle.Next} #{verkaufController.pagination.pageSize}" rendered="#{verkaufController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{verkaufController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufTitle_verkfnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.verkfnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufTitle_datum}"/>
                            </f:facet>
                            <h:outputText value="#{item.datum}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufTitle_warenwert}"/>
                            </f:facet>
                            <h:outputText value="#{item.warenwert}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufTitle_verkaeufernr}"/>
                            </f:facet>
                            <h:outputText value="#{item.verkaeufernr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufTitle_vkortnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.vkortnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{verkaufController.prepareView}" value="#{bundle.ListVerkaufViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{verkaufController.prepareEdit}" value="#{bundle.ListVerkaufEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{verkaufController.destroy}" value="#{bundle.ListVerkaufDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{verkaufController.prepareCreate}" value="#{bundle.ListVerkaufCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVerkaufIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
