<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLagerbestandTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLagerbestandLabel_inventarnr}" for="inventarnr" />
                    <h:inputText id="inventarnr" value="#{lagerbestandController.selected.inventarnr}" title="#{bundle.CreateLagerbestandTitle_inventarnr}" required="true" requiredMessage="#{bundle.CreateLagerbestandRequiredMessage_inventarnr}"/>
                    <h:outputLabel value="#{bundle.CreateLagerbestandLabel_anzahl}" for="anzahl" />
                    <h:inputText id="anzahl" value="#{lagerbestandController.selected.anzahl}" title="#{bundle.CreateLagerbestandTitle_anzahl}" required="true" requiredMessage="#{bundle.CreateLagerbestandRequiredMessage_anzahl}"/>
                    <h:outputLabel value="#{bundle.CreateLagerbestandLabel_artikelnr}" for="artikelnr" />
                    <h:selectOneMenu id="artikelnr" value="#{lagerbestandController.selected.artikelnr}" title="#{bundle.CreateLagerbestandTitle_artikelnr}" required="true" requiredMessage="#{bundle.CreateLagerbestandRequiredMessage_artikelnr}">
                        <f:selectItems value="#{produktController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateLagerbestandLabel_vkortnr}" for="vkortnr" />
                    <h:selectOneMenu id="vkortnr" value="#{lagerbestandController.selected.vkortnr}" title="#{bundle.CreateLagerbestandTitle_vkortnr}" required="true" requiredMessage="#{bundle.CreateLagerbestandRequiredMessage_vkortnr}">
                        <f:selectItems value="#{verkaufsortController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lagerbestandController.create}" value="#{bundle.CreateLagerbestandSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lagerbestandController.prepareList}" value="#{bundle.CreateLagerbestandShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLagerbestandIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
