<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLieferungTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLieferungLabel_liefernr}"/>
                    <h:outputText value="#{lieferungController.selected.liefernr}" title="#{bundle.ViewLieferungTitle_liefernr}"/>
                    <h:outputText value="#{bundle.ViewLieferungLabel_datum}"/>
                    <h:outputText value="#{lieferungController.selected.datum}" title="#{bundle.ViewLieferungTitle_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewLieferungLabel_vkortnr}"/>
                    <h:outputText value="#{lieferungController.selected.vkortnr}" title="#{bundle.ViewLieferungTitle_vkortnr}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lieferungController.destroyAndView}" value="#{bundle.ViewLieferungDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLieferungEditLink}"/>
                <br />
                <h:commandLink action="#{lieferungController.prepareCreate}" value="#{bundle.ViewLieferungCreateLink}" />
                <br />
                <h:commandLink action="#{lieferungController.prepareList}" value="#{bundle.ViewLieferungShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLieferungIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
