<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVerkaufsortTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVerkaufsortLabel_vkortnr}" for="vkortnr" />
                    <h:inputText id="vkortnr" value="#{verkaufsortController.selected.vkortnr}" title="#{bundle.EditVerkaufsortTitle_vkortnr}" required="true" requiredMessage="#{bundle.EditVerkaufsortRequiredMessage_vkortnr}"/>
                    <h:outputLabel value="#{bundle.EditVerkaufsortLabel_coordA}" for="coordA" />
                    <h:inputTextarea rows="4" cols="30" id="coordA" value="#{verkaufsortController.selected.coordA}" title="#{bundle.EditVerkaufsortTitle_coordA}" required="true" requiredMessage="#{bundle.EditVerkaufsortRequiredMessage_coordA}"/>
                    <h:outputLabel value="#{bundle.EditVerkaufsortLabel_coordL}" for="coordL" />
                    <h:inputTextarea rows="4" cols="30" id="coordL" value="#{verkaufsortController.selected.coordL}" title="#{bundle.EditVerkaufsortTitle_coordL}" required="true" requiredMessage="#{bundle.EditVerkaufsortRequiredMessage_coordL}"/>
                    <h:outputLabel value="#{bundle.EditVerkaufsortLabel_adresse}" for="adresse" />
                    <h:inputTextarea rows="4" cols="30" id="adresse" value="#{verkaufsortController.selected.adresse}" title="#{bundle.EditVerkaufsortTitle_adresse}" />
                    <h:outputLabel value="#{bundle.EditVerkaufsortLabel_typ}" for="typ" />
                    <h:inputText id="typ" value="#{verkaufsortController.selected.typ}" title="#{bundle.EditVerkaufsortTitle_typ}" required="true" requiredMessage="#{bundle.EditVerkaufsortRequiredMessage_typ}"/>
                    <h:outputLabel value="#{bundle.EditVerkaufsortLabel_beschreibung}" for="beschreibung" />
                    <h:inputTextarea rows="4" cols="30" id="beschreibung" value="#{verkaufsortController.selected.beschreibung}" title="#{bundle.EditVerkaufsortTitle_beschreibung}" required="true" requiredMessage="#{bundle.EditVerkaufsortRequiredMessage_beschreibung}"/>
                </h:panelGrid>
                <h:commandLink action="#{verkaufsortController.update}" value="#{bundle.EditVerkaufsortSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVerkaufsortViewLink}"/>
                <br />
                <h:commandLink action="#{verkaufsortController.prepareList}" value="#{bundle.EditVerkaufsortShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVerkaufsortIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
