<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVerkaufsortTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVerkaufsortEmpty}" rendered="#{verkaufsortController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{verkaufsortController.items.rowCount > 0}">
                    <h:outputText value="#{verkaufsortController.pagination.pageFirstItem + 1}..#{verkaufsortController.pagination.pageLastItem + 1}/#{verkaufsortController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{verkaufsortController.previous}" value="#{bundle.Previous} #{verkaufsortController.pagination.pageSize}" rendered="#{verkaufsortController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{verkaufsortController.next}" value="#{bundle.Next} #{verkaufsortController.pagination.pageSize}" rendered="#{verkaufsortController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{verkaufsortController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufsortTitle_vkortnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.vkortnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufsortTitle_coordA}"/>
                            </f:facet>
                            <h:outputText value="#{item.coordA}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufsortTitle_coordL}"/>
                            </f:facet>
                            <h:outputText value="#{item.coordL}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufsortTitle_adresse}"/>
                            </f:facet>
                            <h:outputText value="#{item.adresse}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufsortTitle_typ}"/>
                            </f:facet>
                            <h:outputText value="#{item.typ}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVerkaufsortTitle_beschreibung}"/>
                            </f:facet>
                            <h:outputText value="#{item.beschreibung}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{verkaufsortController.prepareView}" value="#{bundle.ListVerkaufsortViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{verkaufsortController.prepareEdit}" value="#{bundle.ListVerkaufsortEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{verkaufsortController.destroy}" value="#{bundle.ListVerkaufsortDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{verkaufsortController.prepareCreate}" value="#{bundle.ListVerkaufsortCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVerkaufsortIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
