<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/lagerbestand/List" value="Show All Lagerbestand Items"/>
        <br />
        <h:link outcome="/lieferung/List" value="Show All Lieferung Items"/>
        <br />
        <h:link outcome="/lieferungprodukt/List" value="Show All Lieferungprodukt Items"/>
        <br />
        <h:link outcome="/produkt/List" value="Show All Produkt Items"/>
        <br />
        <h:link outcome="/verkaeufer/List" value="Show All Verkaeufer Items"/>
        <br />
        <h:link outcome="/verkauf/List" value="Show All Verkauf Items"/>
        <br />
        <h:link outcome="/verkaufprodukt/List" value="Show All Verkaufprodukt Items"/>
        <br />
        <h:link outcome="/verkaufsort/List" value="Show All Verkaufsort Items"/>
        <br />
        <h:link outcome="/cockpit/cockpit" value="Cockpit öffnen"/>
    </h:body>








</html>

