<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Allgold Premium Molkerei</ui:insert></title>
        <h:outputStylesheet library="css" name="main.css"/>
        <h:outputStylesheet library="css" name="nav.css"/>
        <h:outputScript library="js" name="main.js" />
        <h:outputScript library="js" name="beta.js" />
        <h:outputScript library="js" name="station.js" />
    </h:head>

    <h:body>
        <div id="main">
            <div id="img-strip">
                <h:graphicImage name="img/trailer.jpg" height="150" width="750"/>
            </div>
            <div id="menubar">
                <ui:insert name="menu">
                    <ui:include id="nav" src="cockpit/nav.xhtml"/>
                </ui:insert>
            </div>
            <div id="content">
                <ui:insert name="content"/>
            </div>
            <div id="menuefooter">
                
            </div>
            <div id="bottom">
                
            </div>
        </div>
    </h:body>

</html>
